/* Comentario en CSS */
body{
    background-attachment: fixed;
    background-color: rgb(23, 178, 225);
    font: optional; 
    font-style: unset;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant-ligatures: no-discretionary-ligatures;
    position: relative;
    padding: 5em;
    color: black;

}

https://github.com/ShelderF/ejercicio1.git

